<header class="bg-[#26b3ff] p-1 h-[10vh] flex justify-between">
    <nav class="flex gap-4 items-center">
        <a class="text-white decoration-0 font-bold hover:underline" routerLink="/">Accueil</a>
        <a class="text-white decoration-0 font-bold hover:underline" routerLink="/treatment">Nos traitements</a>
        <a class="text-white decoration-0 font-bold hover:underline" routerLink="/gallery">Gallerie</a>
        <a class="text-white decoration-0 font-bold hover:underline" routerLink="/qsts">Questions fréquentes</a>
        <a class="text-white decoration-0 font-bold hover:underline" routerLink="/contact">Contact</a>
    </nav>
    <img src="assets/logos/logo001 - Copy.png">
</header>