<div class="bg-[#26b3ff] w-full flex flex-col p-4">
    <div class="w-full flex justify-around">
        <div class="text-white decoration-0 flex-2 justify-center flex flex-col items-center">
            <img src="assets/logos/logo001 - Copy.png" alt="image" class="w-4/5"><br>
            <span class="text-lg">Alignez votre sourire, révélez votre confiance</span>
        </div>
        <div class="text-white flex flex-col decoration-0 flex-1 gap-2">
            <span class="text-3xl">contact</span>
            <div class="flex items-center gap-1">
                <span class="icon-[mdi--cellphone-basic]"></span>
                <span>(+216) 55 580 320</span>
            </div>

            <div class="flex items-center gap-1">
                <span class="icon-[mdi--phone-classic]"></span>
                <span>75 603 294</span>
            </div>

            <div class="flex items-center gap-1">
                <span class="icon-[mdi--gmail]"></span>
                <span>rjiliorthodontics&#64;gmail.com</span>
            </div>

            <div class="flex items-center gap-1">
                <span class="icon-[mdi--location]"></span>
                <div class="flex flex-col">
                    <span>Immeuble Kourchid Centre, 1er étage,</span>
                    <span>Bureau N°3, Place de la Liberté, 4100 Médenine</span>
                </div>
            </div>

            <div class="text-4xl flex gap-4">
                <a href="https://www.facebook.com/profile.php?id=61574279796587"><span
                        class="icon-[fa7-brands--facebook]"></span></a>
                <a href="https://www.instagram.com/dr.riadh.rjili/"><span
                        class="icon-[fa7-brands--instagram]"></span></a>
                <a href="https://www.tiktok.com/@riadh.rjili"><span class="icon-[fa7-brands--tiktok]"></span></a>
            </div>
        </div>

        <div class="text-white flex flex-col decoration-0 flex-1 items-center">
            <div class="flex flex-col h-full gap-2">
                <span class="text-3xl">menu</span>
                <a class="text-white hover:underline mt-2" routerLink="/">Accueil</a>
                <a class="text-white hover:underline" routerLink="/treatment">Nos traitements</a>
                <a class="text-white hover:underline" routerLink="/gallery">Gallerie</a>
                <a class="text-white hover:underline" routerLink="/freq">Questions fréquentes</a>
                <a class="text-white hover:underline" routerLink="/contact">Contact</a>
            </div>
        </div>
        <div class="text-white flex flex-col decoration-0 flex-1 gap-1">
            <span class="text-3xl">horaires</span>
            <span class="mt-2">Lundi ....................... 08h - 13h / 15h - 18h</span>
            <span>Mardi ...................... 08h - 13h / 15h - 18h</span>
            <span>Mercredi ................ 08h - 13h / 15h - 18h</span>
            <span>Jeudi ........................ 08h - 13h / 15h - 18h</span>
            <span>Vendredi ................ 08h - 13h / 15h - 18h</span>
            <span>Samedi ................... 08h - 14h</span>
            <span>Dimanche ............. fermé</span>
        </div>
    </div>
</div>