<div>
    <div class="flex flex-col w-full gap-10 px-60">
        <span class="text-6xl">Nos traitements orthodontiques</span>
        <span class="text-xl">Des solutions modernes et personnalisées pour chaque sourire
Au Cabinet d’Orthodontie Dr Riadh Rjili à Médenine, nous mettons à votre disposition les dernières innovations en orthodontie pour vous offrir un sourire harmonieux et fonctionnel, dans un cadre moderne et accueillant.
Notre approche repose sur des traitements personnalisés, adaptés à chaque âge et à chaque besoin, qu’il s’agisse d’un traitement esthétique discret ou d’un appareillage classique plus complet.</span>
    </div>
    
    <div class="flex gap-10 px-60">
        <div class="flex flex-col flex-2 justify-center">
            <span class="text-3xl mt-8">L’appareillage orthodontique métallique</span>
            <span class="text-xl">L’appareillage orthodontique métallique reste la solution la plus courante et la plus efficace pour corriger les malpositions dentaires.
Grâce aux avancées technologiques récentes, ces appareils sont aujourd’hui plus confortables, plus fins et plus esthétiques.
Nous utilisons les systèmes PITTS 21 et DAMON Ultima, deux technologies de pointe en orthodontie autoligaturante, reconnues pour leur taille réduite, leur confort optimal et leur efficacité exceptionnelle.
Ces appareils permettent d’accélérer la durée du traitement tout en réduisant le nombre de rendez-vous d’ajustement, offrant ainsi une expérience plus confortable et moderne à nos patients.</span>
        </div>
        <div class="mt-8 flex-1">
            <img src="assets/treatment/1.png" alt="image">
        </div>
    </div>  

    <div class="flex gap-10 px-60">
        <div class="mt-8 flex-1">
            <img src="assets/treatment/2.jpg" alt="image">
        </div>
    
        <div class="flex flex-col flex-2 justify-center">
            <span class="text-3xl">L’appareillage orthodontique céramique</span>
            <span class="text-xl">Pour les patients souhaitant redresser leurs dents de manière discrète, nous proposons les brackets en céramique.
Ces appareils fonctionnent exactement comme les modèles métalliques, mais sont transparents ou couleur dent, ce qui les rend beaucoup moins visibles.
C’est un excellent choix pour les adultes actifs et les adolescents qui recherchent un compromis entre efficacité et esthétique.</span>
        </div>
    </div>

    <div class="flex gap-10 px-60">
        <div class="flex flex-col flex-2 justify-center">
            <span class="text-3xl mt-8">Les aligneurs invisibles</span>
            <span class="text-xl">Les aligneurs transparents représentent une révolution dans le domaine orthodontique.
Au Cabinet Dr Riadh Rjili à Médenine, nous utilisons la technologie 3D la plus avancée pour concevoir une séquence d’aligneurs sur mesure, adaptée à votre dentition.
Chaque gouttière déplace progressivement vos dents jusqu’à atteindre leur position idéale, sans fils ni bagues métalliques.
Une solution esthétique, confortable et hygiénique, idéale pour ceux qui veulent un sourire parfait en toute discrétion.</span>
        </div>
        <div class="mt-8 flex-1">
            <img src="assets/treatment/3.jpg" alt="image">
        </div>
    </div>
    
    <div class="flex gap-10 px-60">
        <div class="mt-8 flex-1">
            <img src="assets/treatment/4.jpg" alt="image">
        </div>
    
        <div class="flex flex-col flex-2 justify-center">
            <span class="text-3xl">Les mini-vis orthodontiques</span>
            <span class="text-xl">Les mini-vis représentent une innovation majeure en orthodontie moderne.
Elles permettent de renforcer l’ancrage dentaire, de réduire la durée du traitement et d’obtenir une précision maximale dans le déplacement des dents.
Faciles à poser et bien tolérées, elles constituent une option idéale pour les adultes comme pour les adolescents.
Une technologie que nous maîtrisons parfaitement au Cabinet d’Orthodontie Dr Riadh Rjili à Médenine.</span>
        </div>
    </div>
</div>

<contact-barre-component></contact-barre-component>