<div class="flex w-full px-40">
    <div class="w-1/2 px-25 justify-end"><img src="assets/accueil/adulte.jpg" alt=""></div>
    <div class="w-1/2 justify-baseline flex flex-col px-25">
        <span>Tout âge</span>
        <span>Orthodontie pour adultes</span>
        <span>
            Correction des malpositions dentaires pour un sourire esthétique
 et harmonieux 
Réajustement après traumatisme ou correction tardive 
d’un déséquilibre dentaire
Utilisation de dispositifs discrets : appareils céramiques ou
 aligneurs transparents
Examen clinique spécialisé pour déterminer les indications et
 les solutions adaptées à chaque patient. 
        </span>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Alignement des dents</span>
        </div>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Correction fonctionnelle</span>
        </div>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Dispositifs discrets</span>
        </div>
    </div>
</div>