<div class="w-full h-full flex flex-col items-center gap-10">
    <div class="w-full" style="background-size: contain; background-repeat: no-repeat; background-position: center;">
        <img src="assets/gallery/IMG_0475.jpg">
    </div>
    <div>
        <span class="text-[#0077b6] font-medium text-2xl">Afin de visualiser les cas Avant - Après, tirez les flèches à gauche ou à droite</span>
    </div>
    <div class="w-full p-5 grid grid-cols-3 justify-items-center gap-10">
        <div class="w-full">
            <diff-component [left]="'assets/gallery/1-1.jpg'" [right]="'assets/gallery/1-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/2-1.jpg'" [right]="'assets/gallery/2-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/3-1.jpg'" [right]="'assets/gallery/3-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/4-1.jpg'" [right]="'assets/gallery/4-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/5-1.jpg'" [right]="'assets/gallery/5-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/6-1.jpg'" [right]="'assets/gallery/6-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/7-1.jpg'" [right]="'assets/gallery/7-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/8-1.jpg'" [right]="'assets/gallery/8-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/9-1.jpg'" [right]="'assets/gallery/9-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/10-1.jpg'" [right]="'assets/gallery/10-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/11-1.jpg'" [right]="'assets/gallery/11-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/12-1.jpg'" [right]="'assets/gallery/12-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/13-1.jpg'" [right]="'assets/gallery/13-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/14-1.jpg'" [right]="'assets/gallery/14-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/15-1.jpg'" [right]="'assets/gallery/15-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/16-1.jpg'" [right]="'assets/gallery/16-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/17-1.jpg'" [right]="'assets/gallery/17-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/18-1.jpg'" [right]="'assets/gallery/18-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/19-1.jpg'" [right]="'assets/gallery/19-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/20-1.jpg'" [right]="'assets/gallery/20-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/21-1.jpg'" [right]="'assets/gallery/21-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/22-1.jpg'" [right]="'assets/gallery/22-2.jpg'" />
        </div>
        <div class="w-full">
            <diff-component [left]="'assets/gallery/23-1.jpg'" [right]="'assets/gallery/23-2.jpg'" />
        </div>
        
    </div>
    <contact-barre-component></contact-barre-component>
</div>

