<div class="flex w-full px-40">
    <div class="w-1/2 px-25 justify-end"><img src="assets/accueil/child.jpg" alt=""></div>
    <div class="w-1/2 justify-baseline flex flex-col px-25">
        <span>6 à 8 ans</span>
        <span>Traitement pour enfants</span>
        <span>
            Entre 6 et 8 ans, certains traitements peuvent
            avoir un rôle préventif, notamment pour favoriser
            le développement du palais. Ils peuvent être suivis
            d’une phase d’interception, entre 8 et 11 ans,
            ainsi que d’une période de suivi. Selon l’évolution dentaire,
            un traitement complémentaire peut être envisagé à l’adolescence.</span>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Traitement préventif</span>
        </div>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Phase d'interception</span>
        </div>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Suivi et traitement de l'adolescence</span>
        </div>
    </div>
</div>