<div class="flex w-full px-40">
    <div class="w-1/2 px-25 justify-end"><img src="assets/accueil/teen.jpg" alt=""></div>
    <div class="w-1/2 justify-baseline flex flex-col px-25">
        <span>Dès l’âge de 12 ans</span>
        <span>Traitement pour adolescents</span>
        <span>
            À l’adolescence, le traitement orthodontique peut être
            la suite d’une prise en charge commencée plus tôt ou
            bien constituer un premier traitement. À partir de 12 ans,
            différents types d’appareils orthodontiques peuvent être
            proposés en fonction de la situation de chaque patient.
        </span>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Diagnostic personnalisé</span>
        </div>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Sélection de la meilleure solution</span>
        </div>
        <div>
            <img src="assets/logos/tick.png" />
            <span>Suivi et ajustements</span>
        </div>
    </div>
</div>